<!DOCTYPE html>
<html>
<head>
  <title>dataONE - {{page.title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="resources/dataone.css">
</head>
<body>
  <textarea id="source">

class: center, middle

# {{ page.title }}

---

layout: true

.logo[
![logo](resources/logo.jpg)
]

---

{{ page.content }}

  </textarea>
  <script src="https://gnab.github.io/remark/downloads/remark-latest.min.js">
  </script>
  <script>
  var slideshow = remark.create({
    ratio: '4:3',
    slideNumberFormat: function (current, total) {
      return '<span class="progressbar"><span class="step' + Math.round(current/total*11-1) + '">&nbsp;</span></span>';
    },
    countIncrementalSlides: false
  });
  </script>
</body>
</html>
