[submodule "bestpractices"]
	path = ui/_bestpractices
	url = https://github.com/DataONEorg/BestPractices.git
[submodule "lessons"]
	path = ui/_lessons
	url = https://github.com/DataONEorg/Education.git
