[submodule "bestpractices"]
	path = _bestpractices
	url = https://github.com/DataONEorg/BestPractices.git
	branch = master
[submodule "lessons"]
	path = _lessons
	url = https://github.com/DataONEorg/Education.git
	branch = master
