@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,400i,700,700i';
.logo {
  position: absolute;
  bottom: -10px;
  left: 25px;
}
.logo img {
  width: 4em;
}
.serif {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
}
.mono {
  font-family: "Source Code Pro", "Consolas", "DejaVu Sans Mono", monospace !important;
}
html,
body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20em;
}
pre,
code {
  font-family: "Source Code Pro", "Consolas", "DejaVu Sans Mono", monospace !important;
}
a {
  color: #006666;
  text-decoration: none;
}

/* 
   font size is overridden by the default remark css that is injected by
   the remark script when converting the markdown to html.

   See:  https://github.com/gnab/remark/blob/develop/src/remark.less
*/
h1 {
  font-weight: bold;
  color: #660033;
  margin: 0 0 0 0;
}
h2,
h3,
h4,
h5,
h6 {
  color: #660033;
  margin: 0 0 0 0;
}


footer {
  font-size: 80%;
  color: #660033;
  opacity: 0.5;
  font-style: italic;
}
table {
  border-collapse: collapse;
}
tr {
  color: black;
}
tr:nth-child(odd) {
  background-color: rgba(0, 102, 102, 0.2);
}
tr:nth-child(even) {
  background-color: rgba(0, 102, 102, 0.05);
}
th {
  background-color: #006666;
  color: white;
  font-weight: bold;
}
td {
  padding: 2px 20px 2px 10px;
  vertical-align: top;
}
th {
  padding: 5px 20px 5px 10px;
  vertical-align: top;
}
.columns {
  clear: right;
  float: left;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}
.full-width,
.one-third,
.two-third,
.one-half,
.two-third,
.one-fourth,
.three-fourth {
  clear: right;
  float: left;
  box-sizing: border-box;
}
.one-third {
  width: 33.3%;
  padding: 0% 2% 0% 0%;
}
.two-third {
  width: 66.7%;
  padding: 0% 2% 0% 0%;
}
.one-half {
  width: 50%;
  padding: 0% 2% 0% 0%;
}
.one-fourth {
  width: 25%;
  padding: 0% 2% 0% 0%;
}
.three-fourth {
  width: 75%;
  padding: 0% 2% 0% 0%;
}
.full-width {
  width: 100%;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  max-height: 100%;
}


/* 
Overrides for the default remark css properties 
*/
.remark-slide-content.title {
  background-color: #006666;
}
.remark-slide-content.title h1 {
  font-size: 200% !important;
  color: white;
}
.remark-slide-content.title h2 {
  font-size: 130% !important;
  color: #f3f3f3;
}

.remark-slide-content h1 {
  font-size: 45px;
}

.remark-slide-content h2 {
  font-size: 40px;
}

.remark-slide-content h3 {
  font-size: 35px;
}

.remark-slide-content h4 {
  font-size: 31px;
}

.remark-slide-content h5 {
  font-size: 28px;
}

.remark-slide-content h6 {
  font-size: 25px;
}

.remark-slide-number {
  font-size: 60%;
  color: #006666;
  bottom: 15px;
  opacity: 0.5;
  position: absolute;
  right: 25px;
}

.remark-slide-content {
  padding: 25px 25px 25px 25px;
  font-size: 25px;
}

.remark-slide-content > ul li {
    padding: 0 0 0 0;
}

/* Add a Caption to an image */
.caption {
 font-size: .6em;
 line-height: .5em;
 font-style: italic;
}

img + em {
  font-size: .4em;
  display: block;
  padding: 0px 0px 10px 0px;
}

img + em a {
    color: #660033;
    text-decoration: none;
    border-bottom: 1px dashed #ccc
}

img + em a:hover {
    color: #660033;
    text-decoration: none;
    border-bottom: 1px dashed #660033
}

/* Resize graphic to fit image */

.wCaption img {
  max-height: 80%;
  max-width: 80%;
}

.wCaption-50 img {
  max-height: 50%;
  max-width: 50%;
}

blockquote {
    background-color: #EOFFFF;
    border-radius: .3em;
    display:  block;
    padding: 0px 5px 0px 12px;
    margin:0px 0 0px;
    position: relative;
    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;

    /*Borders - (Optional)*/
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

blockquote p {
    line-height: 1.5em;
    color: #272822;
    font-style: italic
}

