
<div style="width:100%; background:#ececec;">
  <div style="width:90%; padding:20px; margin:20px 0px 40px 40px;">
    	<a href="./faq.html">Frequently Asked Questions</a>
      <br />
      <br />
      <h3><i>Hosted by DataONE</i></h3>
      <p> In collaboration with the community, <a href="https://www.dataone.org/education" target="_blank">DataONE</a> has developed high quality resources for helping educators and librarians with training in data management, including teaching materials, webinars and a database of best-practices to improve methods for data sharing and management. <br /> <br /></p>

    </div>
  </div>
</div>
