
<div style="width:100%; background:#ececec;">
  <div style="width:90%; padding:20px; margin:20px 0px 40px 40px;">
      <h3><i>Hosted by DataONE</i></h3>
      <p> In collaboration with the community, <a href="https://www.dataone.org/education" target="_blank">DataONE</a> has developed high quality resources for helping educators and librarians with training in data management, including teaching materials, webinars and a database of best-practices to improve methods for data sharing and management. <br /><br /></p>
      <p><img src="{{ site.baseurl }}/img/question.png" alt="Question" height="13">  If you have a question or concern, please open an <a href="https://github.com/DataONEorg/Education/issues" target="_blank">Issue</a> on this repository at GitHub.<br /></p>
    </div>
  </div>
</div>
