<div style = "width:97%; padding:0px; margin:0px 10px 0px 10px;">
<header role='banner'>
    <a href="https://www.dataone.org/" target="_blank"><img class=pagelogo alt='DataONE.org' src='{{ site.baseurl }}/img/logo.jpg' style='max-height:30px'/></a> <a style= "text-decoration: none;" href="/Education/"><h1>Community Education Resources</h1></a>
  </header>
</div>


<!-- Header Menu Bar-->
<div class="topnav">
 <a target="_top" href="/Education/">  Home</a>
 <a target="_top" href="/Education/about">  About</a>
 <a target="_top" href="/Education/CONTRIBUTING">  Contribute</a>
 <a target="_top" href="/Education/faq">  FAQ</a>
 <a target="_blank" href="http://github.com/DataONEorg/Education">GitHub</a>
</div>
