<div style = "width:97%; padding:0px; margin:0px 40px 0px 59px;">
<header role='banner'>
    <a href="https://www.dataone.org/" target="_blank"><img class=pagelogo alt='DataONE.org' src='{{ site.baseurl }}/img/logo.jpg' style='max-height:30px'/></a> <a style= "text-decoration: none;" href="/Education/"><h1>Data Management Skillbuilding Hub</h1></a>
  </header>

</div>

<!-- Header Menu Bar-->
<div class="topnav">
  <div class="topnav a"; style= "margin:0px 0px 0px 49px; overflow: hidden;">
 <a target="_top" href="/Education/">  Home</a>
 <a target="_top" href="/Education/CONTRIBUTING">  Contribute</a>
 <a target="_top" href="/Education/faq">  FAQ</a>
 <a target="_blank" href="http://github.com/DataONEorg/Education" target="_blank">GitHub</a>
</div>
</div>
