  <style>
  /* Fixed sidenav, full height */
  .sidenav {
    float: right;
    text-align: left;
    width: 160px; /* Set the width of the sidebar */
    background-color: #ececec;
    padding-top: 0px;
}


/* The navigation menu links */
/* Style the sidenav links  */
.sidenav a, {
  padding: 0px 0px 0px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, {
    padding: 0px 0px 0px 8px;
    color: #f1f1f1;
}

.sidenav h2 {
    padding: 0px 0px 6px 16px;
    color: #f1f1f1;
}

.sidenav h3 {
    color: #660032;
    padding: 0px 0px 3px 16px;
    font-weight: 550;
}

.sidenav ul {
    padding: 0px 0px 0px 24px;
    margin: 0 0 0 0;
}


  </style>

</head>
<body>
  <div class="sidenav" >



    <h3>Best Practices by Data Life Cycle</h3>
          <ul><strong> <a href="{{ site.baseurl }}/bestpractices/">All</a></strong> </ul>
          <ul> <a href="{{ site.baseurl }}/bp_step/plan">Plan</a> </ul>
          <ul> <a href="{{ site.baseurl }}/bp_step/collect">Collect</a> </ul>
          <ul> <a href="{{ site.baseurl }}/bp_step/assure">Assure</a> </ul>
          <ul> <a href="{{ site.baseurl }}/bp_step/describe">Describe</a> </ul>
          <ul> <a href="{{ site.baseurl }}/bp_step/preserve">Preserve</a> </ul>
          <ul> <a href="{{ site.baseurl }}/bp_step/discover">Discover</a> </ul>
          <ul> <a href="{{ site.baseurl }}/bp_step/integrate">Integrate</a> </ul>
          <ul> <a href="{{ site.baseurl }}/bp_step/analyze">Analyze</a> </ul>
          <br/>
          <hr style="width:100%; border-top: 1px solid #fff; background-color: #fff; color: #fff; border: 0; height: 3px;">
            <ul> <p style= "font-weight: 550; color: #660032;"> Learn more: </p>
              <a target="_blank"  href="https://www.dataone.org/sites/all/documents/DataONE_BP_Primer_020212.pdf">BP Primer</a> </ul>
              <br/>
    </div>
</body>
