  <style>
  /* Fixed sidenav, full height */
  .sidenav {
    float: right;
    text-align: left;
    width: 160px; /* Set the width of the sidebar */
    background-color: #ececec;
    padding-top: 0px;
}


/* The navigation menu links */
/* Style the sidenav links  */
.sidenav a, {
  padding: 0px 0px 0px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, {
    padding: 0px 0px 0px 8px;
    color: #f1f1f1;
}

.sidenav h2 {
    padding: 0px 0px 6px 16px;
    color: #f1f1f1;
}

.sidenav h3 {
    color: #660032;
    padding: 0px 0px 3px 16px;
    font-weight: 550;
}

.sidenav ul {
    padding: 0px 0px 0px 24px;
    margin: 0 0 0 0;
}


  </style>

</head>
<body>
  <div class="sidenav" >



    <h3>DataONE Education Modules</h3>
          <ul> <a href="{{ site.baseurl }}/lessons/01_management/index.html">01. Management</a> </ul>
          <ul> <a href="{{ site.baseurl }}/lessons/02_datasharing/index.html">02. Data Sharing</a> </ul>
          <ul> <a href="{{ site.baseurl }}/lessons/03_planning/index.html">03. Planning</a> </ul>
          <ul> <a href="{{ site.baseurl }}/lessons/04_entry/index.html">04. Entry</a> </ul>
          <ul> <a href="{{ site.baseurl }}/lessons/05_qaqc/index.html">05. Quality</a> </ul>
          <ul> <a href="{{ site.baseurl }}/lessons/06_protect/index.html">06. Protect</a> </ul>
          <ul> <a href="{{ site.baseurl }}/lessons/07_metadata/index.html">07. Metadata</a> </ul>
          <ul> <a href="{{ site.baseurl }}/lessons/08_citation/index.html">08. Citation</a> </ul>
          <ul> <a href="{{ site.baseurl }}/lessons/09_analysis/index.html">09. Analysis</a> </ul>
          <ul> <a href="{{ site.baseurl }}/lessons/10_policy/index.html">10. Policy</a> </ul>
          <br/>
    </div>
</body>
