---
layout: layout
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
{% comment %}
  This section calls out to collection_steps to build a list of steps (i.e., steps of the data life cycle) used by all the pages in this collection. The variable "steps" contains all the steps
{% endcomment %}
{% assign the_collection = "bestpractices" %}
{% include collection_steps.html the_collection=the_collection %}
</head>
<body>

  <h1>{{the_collection}} by Data Life Cycle</h1>

    <h2>Item by Steps</h2>
      {% for step in steps %}
      <h3><a name="{{step}}">{{ step }}</a></h3>
        <ul>
        {%- comment -%}Filter the collection by the current category {%- endcomment -%}
        {%- assign items = site[ the_collection ] | where: "step", step -%}
        {%- for item in items %}
          <li><a href="{{ site.baseurl }}/{{ item.url }}">{{item.title}}</a></li>{% endfor %}
        </ul>
      {% endfor %}

<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order %}
</div>
</div>

</body>
</html>
