---
layout: layout
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Best Practice: {{ page.title }}</title>

  <style>
        /* Style page content for .site_nav */
        .main {
            margin-right: 200px; /* Same as the width of the sidebar + right body margin (in layout) */
            padding: 0px 0px;
        }
  </style>

<body>
  {% include bestpractice_sidebar.html %}

<div class="main" style="margin-top:40px;">
  <h1>{{ page.title }}</h1>


<!-- Adds a list of the tags, with links back to the tag archive, anchored at that specific tag-->


<div class="collection-steps">
  {% assign steps = page.step %}
  <p>Data Life Cycle stage(s):
  {% for step in steps %}
  <a href="{{ site.baseurl }}/bp_step/{{ step|slugize }}">{{step | capitalize}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </p>
</div>

<h2>Best Practice</h2>

  {{ page.content | markdownify }}

<!-- HERE ADD LIST AND LINKS TO "RELATED" TAG IN FRONT MATTER OF BPs-->

<div class="related">
  <h2>Related Best Practices</h2>
  <ul>
    {%- comment -%}Loop the the list of related items listed on the page {%- endcomment -%}
    {% for item in page.related %}
      {%- comment -%}Find the related page in the collection {%- endcomment -%}
      {%- assign item_id = "/bestpractices/" | append: item -%}
      {%- assign related_page = site.bestpractices | where:"id", item_id | first -%}
    <li>
      <a href="{{ site.baseurl }}/bestpractices/{{ item }}.html">{{ related_page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- Adds a list of the data life cycle steps, with links back to the steps index page, anchored at that specific step-->
<!-- original version with just LINKS
  <div class="collection-tags">
  {% assign tags = page.tags %}
  <p> <strong>Tags:&nbsp</strong>
  {% for tag in tags %}
  <a href="{{ site.baseurl }}/bestpractices/tag#{{ tag|slugize }}" class="link_button"> {{tag}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </p>
</div>-->

<div class="collection-tags">
  {% assign tags = page.tags %}
  <p > <h2 style="margin-bottom:16px;">Tags</h2>
  {% for tag in tags %}
  <form style="display: inline;" action="{{ site.baseurl }}/bestpractices/tag#{{ tag|slugize }}" method="get">
    <button>{{tag}}</button></form>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </p>
</div>


  <section>
    <h3 style="margin-top:24px;">Cite this best practice: </h3>

    {% for item in page.author %}
      {%- comment -%}Find the related page in the collection {%- endcomment -%}
      {%- assign item_id = "/bestpractices/" | append: item -%}
      {%- assign bp_author = site.bestpractices | where:"id", item_id | first -%}
    {{ page.author }},
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
      ({{ page.update | date: '%Y' }}) "Best Practice: {{ page.title }}".
      		  {% if page.organization %}
            {{ page.organization }}. {% endif %}
            Accessed at https://dataoneorg.github.io{{site.baseurl}}{{ page.url }} on {{ site.time | date: '%b %d, %Y' }}
    </p>

		  {% if page.organization %}
      <a href="{{ page.org_url }}" target="_blank"><img class=pagelogo alt='{{ page.organization }}' src="{{ site.baseurl }}/bestpractices/logos/{{ page.organization }}.png" style='height:30px'/></a>
      {% endif %}




  </section>

<br />

  	<a href="{{ site.baseurl }}/"><strong>Home</strong></a>
</div>
</body>
</html>
