---
layout: layout
title: Tags for Best Practices
description: This layout creates a list of all best practice tags and the best practices that fall under those tags.
---


<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
{% comment %}
  This section calls out to collection_tags and collection_categories to build
  a list of categories and tags used by all the pages in this collection. The
  variable "cats" contains all the categories, and "tags" contains all the tags.
{% endcomment %}
{% assign the_collection = "bestpractices" %}
{% include collection_tags.html the_collection=the_collection %}
{% include collection_categories.html the_collection=the_collection %}
{% include collection_steps.html the_collection=the_collection %}
</head>

<body>

<h2>Item by Tag</h2>
{% for tag in tags %}
<h3><a name="{{ tag }}">{{ tag | capitalize }}</a></h3>
<ul>
{%- assign items = site[ the_collection ] | where: "tags", tag -%}
{%- for item in items %}
  <li><a href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a></li>{% endfor %}
</ul>
{% endfor %}



</body>
</html>
