---
layout: layout
title: Tags for Best Practices
description: This layout creates a list of all best practice tags and the best practices that fall under those tags.
---


<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
{% comment %}
  This section calls out to collection_tags and collection_categories to build
  a list of categories and tags used by all the pages in this collection. The
  variable "cats" contains all the categories, and "tags" contains all the tags.
{% endcomment %}
{% assign the_collection = "bestpractices" %}
{% include collection_tags.html the_collection=the_collection %}
{% include collection_categories.html the_collection=the_collection %}
{% include collection_steps.html the_collection=the_collection %}

  <style>
        /* Style page content for .site_nav */
        .main {
            margin-right: 200px; /* Same as the width of the sidebar + right body margin (in layout) */
            padding: 0px 0px;
        }
        .tags a {
            display: inline-block;
            margin-right: 12px;
        }
        hr{
          height:0;
          border:0;
          border-top: 1px solid #dbdbdb;
        }
        h2{
          color:  #660033
        }

  </style>
</head>
<body>

<div style="background:#6179a8;border:1px solid #6179a8;padding:5px 60px;">
<p><span style="color:#FFFFFF;"><strong>BEST PRACTICE</strong></span></p>
</div>

  <div id=wrapper style= "width:90%; padding:0px; margin:0px 0px 0px 62px; ">

    {% include bestpractice_sidebar.html %}

<div class="main" style="margin-top:40px;">
<h1><a name="page-title" style="color:black">Best Practices: Sorted by Tag</a></h1>

<!-- create list of Tags that link to anchors in list of BPs below-->


  {%- assign items = site[ the_collection ] | where: "tags", tag -%}
  {% for tag in tags %}
<span class="tags">
    <a href="{{ site.baseurl }}/bestpractices/tag#{{ tag|slugize }}" style="font-size: 90%;">
      {{ tag }}
    </a>
</span>
  {% endfor %}


<hr>
<!-- create list of best practices sorted by Tag-->
{% for tag in tags %}
<h2><a name="{{ tag }}">{{ tag | capitalize }}</a></h2>
<ul>
{%- assign items = site[ the_collection ] | where: "tags", tag -%}
{%- for item in items %}
  <li><a href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a></li>{% endfor %}
</ul>
 <p align="right"><a href="#page-title" class="back-to-top" style="color:#c5c5c5;">Back to Top &uarr;</a></p>
 <hr>
{% endfor %}


</div>
</body>
</html>
