---
layout: layout
---

  <div id=wrapper style= "width:90%; padding:0px; margin:40px 0px 0px 62px; ">

  <h1>{{ page.title }}</h1>

  {{ page.content | markdownify }}

<!-- HERE ADD LIST AND LINKS TO "RELATED" TAG IN FRONT MATTER OF BPs-->
<div class="related">
          <h2>Related Best Practices</h2>
          <pre>{{page.id}} {{site.bestpractices[page.id]}}</pre>
          <ul>
            {% for item in page.related %}
            <li><a href="{{ site.baseurl }}/bestpractices/{{ item }}.html">
            {{ item }}</a>
            <pre>
          </li>
            {% endfor %}
          </ul>
</div>


  <section>
    <br />
    <strong>Cite this best practice: </strong><br />
    {{ page.author }} ({{ page.update | date: '%Y' }}) "Best practice: {{ page.title }}". Accessed at https://dataoneorg.github.io{{site.baseurl}}{{ page.url }} on {{ site.time | date: '%b %d, %Y' }}
    </p>
    <br />
  </section>

  	<a href="{{ site.baseurl }}/"><strong>Home</strong></a>

  </div>
