---
layout: layout
---


  <div id=wrapper style= "width:90%; padding:0px; margin:40px 0px 0px 62px; ">

  <h1>Best Practice</h1>
  <h2>{{ page.title }}</h2>

<!-- Adds a list of the tags, with links back to the tag archive, anchored at that specific tag-->


<div class="collection-steps">
  {% assign steps = page.step %}
  <p>Data Life Cycle step(s): 
  {% for step in steps %}
  <a href="{{ site.baseurl }}/bp_step/{{ step|slugize }}">{{step | capitalize}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </p>
</div>


  {{ page.content | markdownify }}

<!-- HERE ADD LIST AND LINKS TO "RELATED" TAG IN FRONT MATTER OF BPs-->

<div class="related">
  <h2>Related Best Practices</h2>
  <ul>
    {%- comment -%}Loop the the list of related items listed on the page {%- endcomment -%}
    {% for item in page.related %}
      {%- comment -%}Find the related page in the collection {%- endcomment -%}
      {%- assign item_id = "/bestpractices/" | append: item -%}
      {%- assign related_page = site.bestpractices | where:"id", item_id | first -%}
    <li>
      <a href="{{ site.baseurl }}/bestpractices/{{ item }}.html">{{ related_page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>


  <section>
    <br />
    <h3>Cite this best practice: </h3><br />
    {{ page.author }} ({{ page.update | date: '%Y' }}) "Best practice: {{ page.title }}". Accessed at https://dataoneorg.github.io{{site.baseurl}}{{ page.url }} on {{ site.time | date: '%b %d, %Y' }}
    </p>
  </section>

<!-- Adds a list of the data life cycle steps, with links back to the steps index page, anchored at that specific step-->
<div class="collection-tags">
  {% assign tags = page.tags %}
  <p> Tags:
  {% for tag in tags %}
  <a href="{{ site.baseurl }}/bestpractices/tag#{{ tag|slugize }}">{{tag}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </p>
</div>

  	<a href="{{ site.baseurl }}/"><strong>Home</strong></a>

  </div>
