---
layout: layout
---


  <div id=wrapper style= "width:90%; padding:0px; margin:40px 0px 0px 62px; ">

  <h1>{{ page.title }}</h1>

<div class="collection-tags">
  {% assign tags = page.tags %}

  {% for tag in tags %}
  <a href="{{ site.baseurl }}/bestpractices/index_tag#{{ tag|slugize }}">{{tag}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

  {{ page.content | markdownify }}

<!-- HERE ADD LIST AND LINKS TO "RELATED" TAG IN FRONT MATTER OF BPs-->

<div class="related">
  <h2>Related Best Practices</h2>
  <ul>
    {%- comment -%}Loop the the list of related items listed on the page {%- endcomment -%}
    {% for item in page.related %}
      {%- comment -%}Find the related page in the collection {%- endcomment -%}
      {%- assign item_id = "/bestpractices/" | append: item -%}
      {%- assign related_page = site.bestpractices | where:"id", item_id | first -%}
    <li>
      <a href="{{ site.baseurl }}/bestpractices/{{ item }}.html">{{ related_page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>


  <section>
    <br />
    <strong>Cite this best practice: </strong><br />
    {{ page.author }} ({{ page.update | date: '%Y' }}) "Best practice: {{ page.title }}". Accessed at https://dataoneorg.github.io{{site.baseurl}}{{ page.url }} on {{ site.time | date: '%b %d, %Y' }}
    </p>
    <br />
  </section>

  	<a href="{{ site.baseurl }}/"><strong>Home</strong></a>

  </div>
