<!DOCTYPE html>
<html>
<head>
  <title>DataONE - {{page.title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/resources/dataone.css" />
</head>
<body>
  <textarea id="source">

class: center, middle, title

# {{ page.title }}

## {{ page.author }}

---

layout: true

.logo[
![logo]({{ site.baseurl }}/resources/logo.jpg)
]


---
{{ page.content }}

  </textarea>
  <script src="{{ site.baseurl }}/resources/remark-latest-min.js">
  </script>
  <script>
  var slideshow = remark.create({
    ratio: '{{ site.format }}',
    countIncrementalSlides: false
  });
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.analytics_code }}', 'auto');
    ga('send', 'pageview');

  </script>

</body>
</html>
